global:
  resolve_timeout: 5m

route:
  receiver: "slack-notifications"

receivers:
  - name: "slack-notifications"
    slack_configs:
      - send_resolved: true
        channel: "#alerts"
        api_url: "${SLACK_WEBHOOK_URL}"