global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]

  - job_name: "node_exporter"
    static_configs:
      - targets: ["node_exporter:9100"]

  - job_name: "docker-swarm"
    metrics_path: /metrics
    static_configs:
      - targets: ["tasks.mysql:9323", "tasks.wordpress:9323"]
      
  - job_name: "mysql_exporter"
    static_configs:
      - targets: ["mysql:9104"]

rule_files:
  - "alert.rules.yml"